@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Sans'), url('/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
}

* {
    font-family: 'Nunito Sans', sans-serif;
}

/*Стилизация Chrome и Safary*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #1b4596;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #15568b;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-resizer {
    background-color: transparent;
}

/* Firefox scrollbar styles */
@-moz-document url-prefix() {
    * {
        scrollbar-width: thin;
        scrollbar-color: #1b4596 transparent;
    }

    *:hover {
        scrollbar-color: #15568b transparent;
    }
}

svg * {
    outline: none !important;
}